@using StoreAppWeb.Models
@{
    ViewBag.Title = "Checkout";
}

<h2>Checkout</h2>

@if (Session["cart"] == null)
{
    <div class="alert alert-danger">
        <strong>No product added to cart!</strong>
    </div>

}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Add</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ShoppingModelView item in (List<ShoppingModelView>)Session["cart"])
            {
                <tr>
                    <td>@item.product.ProductName</td>
                    <td>@item.Qauntity</td>
                    <td>
                        <a href="@Url.Action("AddToCart", "Home", new { productId = item.product.ProductId, url="Checkout" })">
                            <i class="fa fa-plus"></i>
                        </a>
                        <a href="@Url.Action("DecreaseQty", "Home", new { productId = item.product.ProductId })">
                            <i class="fa fa-minus"></i>
                        </a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
    <a class="btn btn-success" href="@Url.Action("CheckoutDetails","Shopping")">Checkout >></a>

}
